@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;300;400;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  background-color: #0b0b0b;
  font-family: "Outfit", sans-serif;
}

::-webkit-scrollbar {
  background-color: #0b0b0b;
  width: 0.3rem;
}

::-webkit-scrollbar-thumb {
  background-color: #697979;
}

ul {
  list-style-type: none;
}

:root {
  --gradient: linear-gradient(to right, #40404b, #697979);
}
