@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {

    --primari-1: #fafafb;

}

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.flex {

    display: flex;
}

.flex_rowEnd {


    flex-direction: row-reverse;
}



nav {
    background-color: var(--primari-1);
    /* padding: 20px; */
    align-items: center;
    justify-content: space-around;
}

.list_none {

    list-style: none;
}

#logo {

    width: 200px;
}

#logo>img {

    width: 100%;
}

.nav_Item {

    text-transform: uppercase;
    font-weight: 500;
    margin-left: 2rem;
}











/* meidum screens */
@media all and (min-width: 768px) and (max-width: 1024px) {
    body {}
}

/* small screens */
@media all and (min-width: 320px) and (max-width: 767px) {
    body {}
}