:root {

    --dark: #12141D;
    --primari: #fafafb;
}

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Poppins', sans-serif; */
    font-family: 'Open Sans', sans-serif;
}

.flex {

    display: flex;
}

html {

    scroll-behavior: smooth;
}

.flex_rowEnd {


    flex-direction: row-reverse;
}

.d-none {
    display: none;
}

.ai-cent {

    align-items: center;
}

.d-grid {

    display: grid;
}

.jc-space_around {

    justify-content: space-around;
}

.ml-10 {
    margin-left: 2rem;
}

.border-1 {

    border: 1px solid red;
}



nav {
    background-color: white;
    position: sticky;
    z-index: 1;
    top: 0;
    align-items: center;
    justify-content: space-around;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.list_none {

    list-style: none;
}

.logo {

    width: 200px;
    cursor: pointer;
}

.logo>img {

    width: 100%;
}

.nav_Item {
    text-transform: uppercase;
    font-weight: 600;
    margin-left: 2rem;
    cursor: pointer;
}

.nav_Item>a {

    color: black;
    text-decoration: none;
}

.d-inline {


    display: inline !important;
}

.nav_Item>a:hover {

    color: blueviolet;
}

.typed-cursor {
    font-size: 30px;
    color: var(--dark);
}

#home {

    background-color: var(--primari);
    grid-template-columns: repeat(2, 1fr);
    height: fit-content;
}

#project {
    background-color: white;
    text-align: left;
    height: fit-content;

}

.menu_open {

    display: none;
}

.home-1 {

    width: 90%;
    margin: auto;
}


.home-1-1 {

    margin-left: 3rem;
    padding: 10px;
}

.home-1-1>p,
.home-1-1>h2,
.home-1-1>a {
    font-size: 2rem;
    text-decoration: none;
}

textarea {

    resize: none;
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-bottom: 1px solid blueviolet;
}

.home-1-1>a {

    color: white;
}

.home-1-1>p {

    font-weight: 600;
}

.home-1-1>h2 {

    color: rgb(73, 73, 73);
}

.home-1-1>h1 {

    text-transform: uppercase;
    font-size: 3rem;
}

.btn-resume {
    margin: 20px 0px 0px 60px;
    width: 200px;
    text-align: center;
    border-radius: 10px;
    font-weight: bold;
    background: rgb(141, 0, 255);
    background: linear-gradient(80deg, rgba(141, 0, 255, 1) 6%, rgba(172, 0, 255, 1) 51%, rgba(215, 0, 255, 1) 91%);
}

.main_img {

    width: 70%;
    margin: auto;
   
}


.box {

    background-color: black;
    width: 500px;
    height: 100px;
    margin: auto;
    margin-top: 100px;
}

.h-line {

    height: 2px;
    width: 50px;
    background-color: black;
}

.container_about {

    margin-top: 20px;
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60vh;
}


.con-1 {

    width: 60%;
    margin: auto;
}

.heading {
    width: 20%;
    margin: auto;
    padding: 20px;
}

.heading>h1 {

    padding: 10px;
    border-bottom: 2px solid blueviolet;
}

.about_content {

    padding: 10px;
    line-height: 1.5rem;
    font-size: 1.2rem;
    font-weight: 500;
}

.btn-read-more>button {
    padding: 10px;
    width: 15%;
    height: 50px;
    border-radius: 10px;
    border: none;
    margin-top: 10px;
    font-weight: bold;
    background: rgb(141, 0, 255);
    background: linear-gradient(80deg, rgba(141, 0, 255, 1) 6%, rgba(172, 0, 255, 1) 51%, rgba(215, 0, 255, 1) 91%);
    color: white;
}

.container_skills {

    background-color: var(--primari);
    width: 100%;
    height: fit-content;
    text-align: center;
    padding: 100px;
}

.skills-Img {

    width: 100px;
    margin-left: 4rem;
}

.images-wrapper {

    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 5rem;

}

.projectContainer {

    display: grid;
    grid-template-rows: repeat(3, 1fr);
    gap: 50px;
}

.projectCards {

    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    padding: 30px;
}

label>span {

    color: red;
}

.projectImg {

    width: 90%;
}

.projectImg>img {

    width: 100%;
}

.projectContent {

    padding: 40px;
}

.projectHeading {

    padding-bottom: 20px;
}

.pro_point>li {

    padding-top: 10px;
}

.techStack {

    margin-left: 30px;
    padding: 10px;
}

li {

    line-height: 1.4rem;
}


.form_sec-1 {

    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: left;
    padding: 20px;
    width: 70%;
    margin: auto;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

}

.contact_sec {

    height: fit-content;
}

.form_sec-1-2 {
    border-radius: 10px;
    color: white;
    padding: 100px 50px 100px 50px;
    background: rgb(141, 0, 255);
    background: linear-gradient(30deg, rgba(141, 0, 255, 1) 6%, rgba(172, 0, 255, 1) 51%, rgba(215, 0, 255, 1) 91%);
}

.dot {

    color: rgb(50, 224, 247);
    font-size: 2rem;
}

.contact_heading {

    margin: 10px;
}

input {

    height: 30px;
    width: 105%;
    padding: 10px;
    border: none;
    border-bottom: 1px solid blueviolet;
    margin-bottom: 20px;
    margin-top: 10px;
}

.formheading {

    margin-bottom: 20px;

}

#submit {

    display: block;
    width: 50%;
    margin: auto;
    margin-top: 40px;
    background: rgb(141, 0, 255);
    background: linear-gradient(30deg, rgba(141, 0, 255, 1) 6%, rgba(172, 0, 255, 1) 51%, rgba(215, 0, 255, 1) 91%);
    color: white;
    padding: 10px;
    height: 50px;
    font-weight: 600;
    cursor: pointer;
    border-radius: 10px;
}

.footer {

    background-color: black;
    padding: 30px;
    text-align: center;
}

.footer>p {

    color: white;
}



.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 1rem 1.5rem;
    width: 24rem;
    border-radius: 0.5rem;
}

.close-button {
    float: right;
    width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: lightgray;
}

.close-button:hover {
    background-color: darkgray;
}

.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}





















.menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu>li {
    margin: 0 1rem;
    overflow: hidden;
}

.menu-button-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#menu-toggle {
    display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
    display: block;
    background-color: #fff;
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
}

.menu-button::before {
    content: '';
    margin-top: -8px;
}

.menu-button::after {
    content: '';
    margin-top: 8px;
}

#menu-toggle:checked+.menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(405deg);
}

#menu-toggle:checked+.menu-button-container .menu-button {
    background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked+.menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
}

.media_Items {

    display: none;
    transition: all .9s ease-in-out;
    text-align: center;
}






/* meidum screens */
@media all and (min-width: 768px) and (max-width: 1024px) {


    body {

        max-width: fit-content;
        width: 100%;
    }

    .menu_open {

        display: inline;
    }

    .navbar {

        display: none;
    }

    .media_List {
        text-align: center;
        padding: 10px;
        list-style: none;

    }

    .nav_Item {
        padding: 20px;
        border-bottom: 1px solid black;
    }

    .nav_Item>a {

        font-weight: 700;
    }

    #home {

        margin-top: 30px;
        padding: 40px;
    }

    .home-1 {

        width: 100%;
    }

    .home-1-1>p {

        font-size: 1.4rem;
    }

    .home-1-1>h1 {

        font-size: 2rem;
    }

    .btn-resume {

        width: 150px;
    }

    .home-1-1>a {


        font-size: 1.4rem;
    }

    .container_about {

        height: 60vh;
    }

    .con-1 {

        width: 90%;
    }

    .container_skills {

        height: fit-content;
    }

    .skills-Img {

        width: 80px;
    }

    .projectCards {


        display: block;
    }

    .form_sec-1 {

        width: 90%;
        display: block;
    }

    .form_sec-1-2 {

        margin-top: 40px;
    }

    #contact {


        height: fit-content;
    }

    input {

        width: 60%;
        display: block;
        margin: auto;
    }

    label {

        width: 60%;
        display: block;
        margin: auto;
    }

    .formheading {

        width: 60%;
        display: block;
        margin: auto;
        padding-bottom: 20px;

    }

    textarea {

        width: 60%;
        display: block;
        margin: auto;
    }

    .main_img {

        width: 80%;
        margin: auto;
        margin-left: 2rem;
    }

}

/* small screens */
@media all and (min-width: 320px) and (max-width: 767px) {
    .menu_open {

        display: inline;
    }

    .navbar {

        display: none;
    }

    body {

        max-width: fit-content;
        width: 100%;
    }

    .menu_open {

        display: inline;
    }

    .navbar {

        display: none;
    }

    .media_List {
        text-align: center;
        padding: 10px;
        list-style: none;

    }

    .nav_Item {
        padding: 20px;
        border-bottom: 1px solid black;
    }

    .nav_Item>a {

        font-weight: 700;
    }

    #home {

        display: block;
        text-align: left;
        margin-top: 20px;
    }

    .home-1 {

        width: 100%;
    }

    .home-1-1>p {

        font-size: 1.4rem;
    }

    .home-1-1>h1 {

        font-size: 2rem;
    }

    .btn-resume {

        width: 150px;
    }

    .home-1-1>a {


        font-size: 1.4rem;
    }

    .container_about {

        height: fit-content;
    }

    .con-1 {

        width: 100%;
        padding: 10px;
        text-align: center;
    }

    .container_skills {

        height: fit-content;
    }

    .skills-Img {

        width: 80px;
    }

    .projectCards {


        display: block;
    }

    .form_sec-1 {

        width: 90%;
        display: block;
    }

    .form_sec-1-2 {

        margin-top: 40px;
    }

    #contact {


        height: fit-content;
    }

    input {

        width: 60%;
        display: block;
        margin: auto;
    }

    label {

        width: 60%;
        display: block;
        margin: auto;
    }

    .formheading {

        width: 60%;
        display: block;
        margin: auto;
        padding-bottom: 20px;

    }

    textarea {

        width: 60%;
        display: block;
        margin: auto;
    }

    .main_img {

        width: 80%;
        margin: auto;
        margin-left: 2rem;
        margin-top: 2rem;
    }

}
